
<div class="table-wrapper">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Title</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>${state.first_name}<a href="#" class="age_button" on-click('incrementrajat')>click me</a></td>
                <td>${state.first_title}</td>
                <td>${state.first_age}</td>
            </tr>
            <tr>
                <td>${state.second_name}<a href="#" class="age_button" on-click('incrementamrita')>click me</a></td>
                <td>${state.second_title}</td>
                <td>${state.second_age}</td>
            </tr>
            <tr>
                <td>${state.third_name}<a href="#" class="age_button"  on-click('incrementsana')>click me</a></td>
                <td> ${state.third_title}</td>
                <td>${state.third_age}</td>
            </tr>
         
           
        </tbody></table>
    </div>